@media(min-width:810px){
    .contenedor__seccioncuatro--principal{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        flex-direction: row-reverse;
    }
}
@media (min-width:900px){
    .contendor__abierto--menu{
        display: none;
    }
    .contenedor__ul--nav .contenedor__lins--ul{
        display: flex;
    }
}
    @media (min-width:1150px) {
        .contenedor__seccionsiete{
            background-position:initial;
        }
    }